NF.Core/Web References/NFServices/NFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNewsItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewsItemsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewsItemsSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewsItems" />
  </wsdl:message>
  <wsdl:message name="AddNewsItemsSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewsItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="NFServiceSoap">
    <wsdl:operation name="AddNewsItems">
      <wsdl:input message="tns:AddNewsItemsSoapIn" />
      <wsdl:output message="tns:AddNewsItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFServiceSoap" type="tns:NFServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewsItems">
      <soap:operation soapAction="http://tempuri.org/AddNewsItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NFServiceSoap12" type="tns:NFServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewsItems">
      <soap12:operation soapAction="http://tempuri.org/AddNewsItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFService">
    <wsdl:port name="NFServiceSoap" binding="tns:NFServiceSoap">
      <soap:address location="http://www.newsflippers.com/NFService.asmx" />
    </wsdl:port>
    <wsdl:port name="NFServiceSoap12" binding="tns:NFServiceSoap12">
      <soap12:address location="http://www.newsflippers.com/NFService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>